@charset "utf-8";

/* Pretendart */
@font-face{
	font-family:'ptd';
	font-weight:200;
	font-style: normal;
	src:url("../font/Pretendard-Light.otf");
	src:url("../font/Pretendard-Light.woff2") format('woff2'),
		url("../font/Pretendard-Light.woff") format('woff');
}


@font-face{
	font-family:'ptd';
	font-weight:300;
	font-style: normal;
	src:url("../font/Pretendard-Regular.otf");
	src:url("../font/Pretendard-Regular.woff2") format('woff2'),
		url("../font/Pretendard-Regular.woff") format('woff');
}

@font-face{
	font-family:'ptd';
	font-weight:600;
	font-style: normal;
	src:url("../font/Pretendard-Medium.otf");
	src:url("../font/Pretendard-Medium.woff2") format('woff2'),
		url("../font/Pretendard-Medium.woff") format('woff');
}

@font-face{
	font-family:'ptd';
	font-weight:700;
	font-style: normal;
	src:url("../font/Pretendard-SemiBold.otf");
	src:url("../font/Pretendard-SemiBold.woff2") format('woff2'),
		url("../font/Pretendard-SemiBold.woff") format('woff');
}

@font-face{
	font-family:'ptd';
	font-weight:900;
	font-style: normal;
	src:url("../font/Pretendard-Bold.otf");
	src:url("../font/Pretendard-Bold.woff2") format('woff2'),
		url("../font/Pretendard-Bold.woff") format('woff');
}

/* Material Icons */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('../font/Material-Icons.eot'); /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url('../font/Material-Icons.woff2') format('woff2'),
    url('../font/Material-Icons.woff') format('woff'),
    url('../font/Material-Icons.ttf') format('truetype');
}

@font-face {
  font-family: 'Material Icons Outlined';
  font-style: normal;
  font-weight: 400;
  src: url('../font/MaterialIconsOutlined.otf') format('opentype');
}

.material-icons, .material-icons-outlined {font-family: 'Material Icons';font-weight: normal;font-style: normal;  display: inline-block;line-height: 1;text-transform: none;letter-spacing: normal; word-wrap: normal; white-space: nowrap;direction: ltr;-webkit-font-smoothing: antialiased;text-rendering: optimizeLegibility; -moz-osx-font-smoothing: grayscale;font-feature-settings: 'liga';line-height: 1;vertical-align: top; font-size: inherit;}

span[class*="material-"] {
	font-family: 'Material Icons','Material Icons Outlined' !important;
}




